# Grabber

*.qm
release/sites/*/*/settings.ini
release/sites/*/*/tags.txt
release/sites/*/*/tags.db
tests/resources/tags.txt
tests/resources/tags.db
tests/resources/md5s.txt
tests/resources/settings.ini
tests/resources/settings.ini.*
tests/resources/*.txt
tests/resources/thumbs/
tests/resources/tmp/
tests/resources/sites/
/test_*
target_wrapper.bat
symbols/
*.lock
*.lnk
*.exe
*.obj
*.pdb
*.res
*.igl
*.log
*.exe.embed.manifest
*.lib
*.sql
*.zip
build/
debug/
{gui,cli}/release/
cache/
release/*.txt
release/*.ini
release/lastdump
release/crashes/
release/thumbs/
release/crashreporter/
releases/Grabber_*.tar.gz
releases/Grabber_*.exe
releases/Grabber_*.rar
releases/release.sh
releases/translation_tools.rar
CrashReporter/debug/
CrashReporter/release/


# CMake

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


# Unix

*~


# Visual Studio

.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
Grabber.VC.*
win32/
CMakeSettings.json


# CLion

.idea/


# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib


# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*


# QtCreator

*.autosave


# QtCtreator Qml

*.qmlproject.user
*.qmlproject.user.*
