language: cpp
compiler: gcc

# OS X build
matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
    - os: osx

# Qt packages for Linux
addons:
  apt:
    sources:
      - sourceline: 'ppa:ubuntu-sdk-team/ppa'
    packages:
      - qt5-qmake
      - qtbase5-dev
      - qtdeclarative5-dev
      - qtscript5-dev
      - qtmultimedia5-dev
      - libpulse-dev
      - qt5-default
      - qttools5-dev-tools
      - sshpass

# Qt packages for OS X
install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      brew update &&
      brew install http://git.io/sshpass.rb &&
      brew install qt5 &&
      QT_PATH=$(find /usr/local/Cellar/qt/* -maxdepth 0 -type d | head -1)
      PATH=$QT_PATH/bin:$PATH &&
      export PATH
    ; fi

# Start X before running tests on Linux
before_script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      export DISPLAY=:99.0 &&
      sh -e /etc/init.d/xvfb start &&
      sleep 3
    ; fi

# Build Grabber
script:
  - mkdir build
  - cd build
  - cmake ..
  - make
  - cd ..
  - ./build/tests/tests

# Upload code coverage
after_success:
  - bash <(curl -s https://codecov.io/bash)
  - if [[ "$TRAVIS_TAG" == "" ]]; then
      export BUILD_LABEL=$TRAVIS_BRANCH
    ; else
      export BUILD_LABEL=$TRAVIS_TAG
    ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]] && [[ "$TRAVIS_PULL_REQUEST" == "false" ]]; then
      cp "build/gui/gui" "release/Grabber" &&
      touch "release/settings.ini" &&
      rm "release/CDR.exe" &&
      zip -r Grabber.zip release &&
      export OUTPUT_FILE="Grabber_${BUILD_LABEL}_linux.zip" &&
      sshpass -p "$SSH_PASS" scp -q -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no Grabber.zip $SSH_USER@$SSH_HOST:$OUTPUT_FILE
    ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]] && [[ "$TRAVIS_PULL_REQUEST" == "false" ]]; then
      touch "release/settings.ini" &&
      rm "release/CDR.exe" &&
      mv release/* build/gui/gui.app/Contents/MacOS/ &&
      mv build/gui/gui.app release/Grabber.app &&
      cd release && zip -r ../Grabber.app.zip Grabber.app && cd - &&
      export OUTPUT_FILE="Grabber_${BUILD_LABEL}_mac.app.zip" &&
      sshpass -p "$SSH_PASS" scp -q -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no Grabber.app.zip $SSH_USER@$SSH_HOST:$OUTPUT_FILE
    ; fi
